.container {
   display: flex;
   margin: 0 auto 22px;
   max-width: 700px;
}

.column {
   background-color: #F0F0F0;
   flex: 1 1 auto;
   
   &:hover {
      background-color: #FFFFFF;
   }
}

.cell {   
   border: 1px solid #808080;
   min-width: 100px;
   min-height: 100px;
   position: relative;
}

.center-win {
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Tahoma, sans-serif;
}

.button-select {
    display: flex;
    width: 10rem;
    height: 4rem;
    justify-content: center;
    align-content: center;
    background-color: #5864ca;
    font-size: 1rem;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

.button-space {
    justify-content: space-around;
}

.hide-audio {
    display: none;
}