
.piece {
   border: 4px solid transparent;
   border-radius: 50%;
   left: calc(50% - 44px);
   min-width: 80px;
   min-height: 80px;
   position: absolute;
   top: calc(50% - 44px);
   transform: translateY(-100vh);
   transition: transform 0.4s ease-in;
}

.piece.red, .piece.blue  {
   transform: translateY(0vh);
}

.piece.red {
   background-color: red;
   border-color: black;
}

.piece.blue {
   background-color: blue;
   border-color: black;
}
