<!DOCTYPE html>
<html>
<head>
	<title>Connect Four</title>
	<link href="app/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div id="game">
		<div class="container">
			<div class="column" v-for="(col, index) in columnCount" @click="addPieceToColumn($event, index)">
				<div class="cell" v-for="(row, rowind) in rowCount">
					<div class="piece">
					</div>
				</div>
			</div>
		</div>
		<p v-if="winner">The winner of this game is Player:{{ playerTurn }}</p>
	</div>
    
    <script src="app/js/main.js"></script>
</body>
</html>